<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixieium.austtravels">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AustTravels">
        <activity
            android:name=".volunteers.VolunteersActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".routes.RoutesActivity"
            android:exported="true" />

        <activity
            android:name=".livetrack.LiveTrackActivity"
            android:exported="true"
            android:label="@string/title_activity_live_track" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".directions.DirectionsActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".auth.SignInActivity"
            android:exported="true" />

    </application>

</manifest>